<div class="grid grid-cols-1 md:grid-cols-4 sm:grid-cols-2 lg:grid-cols-4 xl:grid-cols-4 gap-x-4 w-full p-4">

    <div class="flex flex-col  px-8 py-4 bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 rounded-lg  w-full ">
        <div class="flex justify-end items-center">
            Icon
        </div>
        <div class="flex justify-start items-center">
            <div>
                Today Orders
            </div>
            <div>
                50
            </div>
        </div>
    </div>

    <div class="flex flex-col px-8 py-4 bg-white rounded-lg  w-full">
        <div class="flex justify-end">
            Icon
        </div>
        <div class="flex justify-start">
            <div>
                Today Orders
            </div>
            <div>
                50
            </div>
        </div>
    </div>

    <div class="flex flex-col px-8 py-4 bg-white rounded-lg  w-full">
        <div class="flex justify-end">
            Icon
        </div>
        <div class="flex justify-start">
            <div>
                Today Orders
            </div>
            <div>
                50
            </div>
        </div>
    </div>

    <div class="flex flex-col px-8 py-4 bg-white rounded-lg  w-full">
        <div class="flex justify-end">
            Icon
        </div>
        <div class="flex justify-start">
            <div>
                Today Orders
            </div>
            <div>
                50
            </div>
        </div>
    </div>

</div>